fastapi
uvicorn[standard]
gunicorn

torch
torchvision
timm

opencv-python
Pillow
albumentations
numpy
pandas
matplotlib
scikit-learn
tqdm

grad-cam

sentence-transformers
faiss-cpu

groq
python-dotenv
python-multipart

requests
pyyaml
rich