--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

fastapi
uvicorn[standard]
gunicorn

torch==2.12.1+cpu
torchvision==0.27.1+cpu

timm

opencv-python-headless==4.10.0.84
Pillow

--no-deps albumentations==1.4.0
--no-deps grad-cam==1.5.4

sentence-transformers
faiss-cpu

groq

python-dotenv
python-multipart

numpy
pandas
matplotlib
scikit-learn
tqdm
requests
pyyaml
rich
