fastapi
uvicorn[standard]
gunicorn

--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.12.1
torchvision==0.27.1
timm

opencv-python
Pillow
albumentations
numpy
pandas
matplotlib
scikit-learn
tqdm

grad-cam

sentence-transformers
faiss-cpu

groq
python-dotenv
python-multipart

requests
pyyaml
rich